.chatIcon,
.notificatonIcon,
.walletDetails {
    font-size: x-large;
    border: none !important;
    box-shadow: none !important
}
.walletDetails {
    background-color: transparent;
    color:   #2cb69d !important
}
.notificatonIcon {
    color:  #2cb69d  !important
}
.chatIcon {
    color:  #2cb69d  !important
}
.circleIcon {
    color: #c9b1b1
}
.copyIcon {
    color: #ffffff !important
}
.copyIcon:hover {
    color:  #2cb69d  !important
}
.profileNav {
    border: 1px solid #000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: grey
}
.footerCloseBtn,
.footerCloseBtn:hover {
    background-color: gray !important;
    height: 40px !important;
    width: 100px !important
}
.profileNav:focus,
.profileNav:hover {
    border: none;
    color: grey !important
}
.dropdown-toggle::after {
    content: none
}
.modal-header {
    border-bottom: none
}
.modal-title {
    font-size: xx-large;
    color: #fff
}
.closeBtn.active,
.closeBtn:active,
.closeBtn:focus,
input {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}
.closeBtn,
.modal-footer {
    border: none !important
}
.footerCloseBtn {
    color: #fff;
    border-radius: 0
}
.footerCloseBtn:hover {
    border: none
}
input {
    padding-left: 4px !important;
}
.network {
    padding: 4px 18px 4px 18px;
}
input,
.copyIcon {
    color:  #2cb69d  !important;
}

.copyIcon, .refetch{
    cursor: pointer;
}
@media (prefers-color-scheme:dark) {
    .closeBtn {
        color: #fff;
    }
    .network {
        color: #fff !important;
        border: 2px solid  #2cb69d  !important;
        transition: all 0.3s;
    }
    .network:hover {
        background-color:  #2cb69d  !important;
        border: 2px solid !important;
    }
    .modal-content {
        background: #000;
        border: 1px solid #fff;
    }
    .chainName,
    input {
        height: 40px;
        background-color: transparent !important;
        border: 2px solid grey;
        color: #000
    }
}
.modalInput {
    min-width: fit-content;
}
.chainName,
.modalInput {
    background-color: grey;
    height: 40px
}
.chainName {
    color: #fff
}
.modalInput::placeholder {
    color: #fff
}
input-box:valid {
    color: #fff
}
.modal-header {
    border-radius: 0
}
.refetch {
    color:  #2cb69d ;
    font-size: x-large;
}
.chainNameQ {
    height: 40px;
}
.network {
    color:  #2cb69d  !important;
    border: 2px solid #2cb69d  !important;
    transition: all 0.3s;
}
.network:hover {
    background-color: #2cb69d  !important;
    color: white !important;
}
#modalBg {
    position: relative;
    background: url('../assets/img8.png') center center/cover no-repeat !important;
}
.footerCloseBtn {
    border: 2px solid grey;
    background-color: transparent !important;
    height: 40px !important;
    width: 100px !important;
    transition: color .3s
}
.closeBtn {
    font-size: x-large;
}
.footerCloseBtn:hover {
    background-color: gray !important
}
@media (prefers-color-scheme:light) {
    .chainName,
    input {
        height: 40px;
        background-color: transparent !important;
        border: 2px solid grey
    }
    .footerCloseBtn {
        color: grey;
    }
    .closeBtn {
        color: #fff;
    }
    .chainName {
        color: #000;
    }
    input {
        color: #0c0c0c;
    }
    input::placeholder {
        color: #000;
    }
    .network {
        border: 2px solid  #2cb69d ;
    }
    .network:hover {
        background-color:  #2cb69d ;
        color: #fff !important;
    }
    .modal-content {
        background: #fff;
        border: none;
        box-shadow: 0 15px 20px 5px #26394d4b
    }
    .modal-title {
        color: #fff;
        border-bottom: 3px solid #fff
    }
}