.InputReg {
  width: 100%;
  border-radius: 2.5px;
  border: none;
  height: 60px;
  margin: 5px 0px 5px 0px;
  padding: 10px 15px;
}
.InputReg:focus {
  outline: none;
}
.InputReg::placeholder {
  color: #666666 !important;
  font-weight: 500;
}
.error {
  font-size: small;
  display: inline;
  user-select: none;
 
}
.LinkInput {
  color: #1C967F;
}
.RegisterationImage {
  width: 100%;
  height: auto;
}
.otpBody {
  padding: 0% 30% 0% 30%;
}
.otpBtn,
.resendOtp {
  font-weight: normal;
  transition: display 0.3s !important;

}
.resendOtp {
  color: #1C967F !important;
  background-color: transparent !important;
}
.otpBtn:disabled {
  background-color: transparent !important;
  opacity: 0;
}
/*  -----> stadnard button -----------------------------------------------------------------------------*/
.standarButton-1 {
  background-color: transparent;
  border-radius: .25rem;
  border: 1px solid transparent;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}
.standarButton-1:hover {
  color: #212529;
}
.standarButton-1:focus {
  outline: 0;
  box-shadow: 0 0 0 .09rem rgba(13, 110, 253, .25);
}
.standarButton-1:disabled {
  pointer-events: none;
  opacity: .65;
}
.standarButton-1 {
  display: inline-block;
  line-height: 26px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  /* change the width to 100 percent only for normal button */
  min-width: 100%;
  transition: all 0.7s ease-in-out;
  position: relative;
  z-index: 1;
  border: none;
  padding: 14px 42px 14px;
  border-radius: 0;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}
.standarButton-1:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#a146e8), color-stop(35%, #6c63d0), to(#387db8));
  background: linear-gradient(90deg, #a146e8 0%, #6c63d0 35%, #387db8 100%);
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.standarButton-1:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#a146e8), color-stop(35%, #6c63d0), to(#387db8));
  background: linear-gradient(-90deg, #a146e8 0%, #6c63d0 35%, #387db8 100%);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.standarButton-1:hover {
  color: #fff;
}
.standarButton-1:hover:after {
  visibility: visible;
  opacity: 1;
  width: 100%;
}
.standarButton-1:hover:before {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .standarButton-1 {
    font-size: 14px;
  }
  .standarButton-1 {
    font-size: 14px;
  }
  .standarButton-1 {
    padding: 12px 25px 12px;
  }
}
/* -----------------------------------------------   Media Quries  */
@media (prefers-color-scheme: dark) {
  .InputReg {
    background-color: #091113 !important;
    color: #666666;
  }
}
@media (prefers-color-scheme: light) {
  .InputReg {
    background-color: #D9D9D9 !important;
    color: #555555;
  }
}
@media only screen and (max-width: 767px) {
  .displayNone {
    display: none !important;
  }
 
}

.hideSelectIcon{
 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

.information{
  font-size: x-large;
  display: inline ;
  color: #1C967F;
}