.Chat {
  display: flex;
  flex-direction: row;
  grid-template-columns: 22% auto;
  gap: 1rem
}
.Left-side-chat {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  gap: 1rem;
  margin-left: 1rem;
  height: 100vh
}
.Right-side-chat {
  width: 75%;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin-right: 1rem;
  padding: 10px;
  gap: 1rem
}
.Chat-container,
.Chat-list {
  flex-direction: column;
  display: flex;
  /* gap: 0.2rem; */
}
.Chat-container {
  gap: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  height: auto;
  min-height: 80vh;
  overflow: scroll
}
.Chat-container::-webkit-scrollbar {
  display: none;
}
.conversation {
  padding: 10px;
  width: fit-content;
}
.followerImage {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}


.follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follower>div {
  display: flex;
  gap: 10px;
}

.name {
  font-weight: bold;
  letter-spacing: 2px;
}
@media screen and (max-width:768px) {

  .conversation{

    min-width: 13rem;
  }
  .Left-side-chat {
    width: 100%;
    height: fit-content !important;
  }
  .Right-side-chat {
    width: 100%;
    margin-left: 1rem;
  }
  .Chat {
    flex-direction: column;
    gap: 2rem;
  }
  .Chat-list {
    flex-direction: row;
  }
  .Chat-container {
    min-height: fit-content;
  }
}
@media (prefers-color-scheme:dark) {
  .Chat-container,
  .Right-side-chat,
  .chatCard:hover {
    background-color: #091113 !important
  }
  .chatCard {
    background: 0 0 !important;
    border-radius: 3px;
    transition: .5s !important;
  }
  .chatCard:hover {
    background-color: #28383d56 !important;
  }
}
@media (prefers-color-scheme:light) {
  .Chat-container,
  .Right-side-chat {
    box-shadow: rgba(0, 0, 0, .11) 0 10px 20px, rgba(0, 0, 0, .11) 0 6px 6px
  }
  .chatCard {
    border-radius: 3px;
    transition: .5s
  }
  .chatCard:hover {
    box-shadow: rgba(0, 0, 0, .068) 0 10px 20px, rgba(0, 0, 0, .085) 0 6px 6px;
    background-color: #40424256 !important;
  }
}