.ChatBox-container {
    border-radius: 1rem;
    display: grid;
    /* grid-template-rows: 14vh 60vh 20vh; */
    grid-template-rows: 14vh 80vh 20vh;
}
.chatbox-empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.chatbox-empty-message-text {
    text-align: center;
    font-size: 16px;
    color: #888;
}
.chat-header {
    display: flex;
    flex-direction: column;
}
.chat-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    overflow: scroll;
}
.chat-body::-webkit-scrollbar {
    display: none;
}
.message {
    /* background: linear-gradient(98.63deg, #24665adc 0%,#6d1cacdc 100%); */
    background-color: #3e0c64dc !important;
    color: white;
    padding: 0.7rem;
    border-radius: 1rem 1rem 1rem 0;
    max-width: 28rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.message>span:nth-child(2) {
    font-size: 0.7rem;
    align-self: end;
}
.own {
    align-self: flex-end;
    border-radius: 1rem 1rem 0 1rem;
    background: #269e88dc !important;
}
.chat-sender {
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    align-items: center;
    border-radius: 3px;
    align-self: end;
}
.chat-sender>input {
    height: 70%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
}
.chat-sender>div:nth-of-type(1) {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer
}
.chat-sender>div {
    height: 70%;
    padding: 5px;
}
.iconSend {
    color: white;
}
@media (prefers-color-scheme: dark) {
    .chat-header {
        box-shadow: rgba(0, 0, 0, 0.11) 0 5px 15px, rgba(0, 0, 0, 0.363) 0 3px 3px;
    }
    .chat-sender {
        background-color: #28383d56 !important;
    }
    .chatBg {
        background-color: #28383d56 !important;
        box-shadow: rgba(0, 0, 0, 0.11) 0 5px 15px, rgba(0, 0, 0, 0.363) 0 3px 3px;
    }
}
@media (prefers-color-scheme: light) {
    .chat-header,
    .chatBg {
        box-shadow: rgba(255, 255, 255, 0.11) 0 5px 15px, rgba(0, 0, 0, 0.226) 0 3px 3px;
    }
    .chat-sender {
        box-shadow: rgba(0, 0, 0, .068) 0 10px 20px, rgba(0, 0, 0, .085) 0 6px 6px;
        background-color: #40424256 !important;
    }
    .chatBg {
        box-shadow: rgba(0, 0, 0, .068) 0 10px 20px, rgba(0, 0, 0, .085) 0 6px 6px;
        background-color: #40424256 !important;
    }
}
@media screen and (max-width: 768px) {
    .message {
        max-width: 30rem;
    }
}