.sidebarOption {
    background-color: #28383d56 !important;
}
#adminSideBar::-webkit-scrollbar {
    display: none !important;
}
#adminSideBar {
    scrollbar-width: none !important;
}
.noScroll {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.noScroll::-webkit-scrollbar {
    display: none;
}
.sidebarOptions {
    background-color: transparent;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    transition-duration: 0.6s;
}
@media (prefers-color-scheme: dark) {
    .adminSide {
        background-color: #152420;
    }
    .sidebarOptions:hover {
        background-color: rgba(112, 108, 108, 0.267)
    }

    .sidebarOptions:hover {
        background-color: rgba(112, 108, 108, 0.267)
    }
    .sidebarOptions:focus {
        background-color: rgba(90, 86, 86, 0.589);
    }
    .accountsCard {
        background-color: #091113 !important;
        transition: border 0.7s ease;
        border: 1px solid transparent;
    }
    .accountsCard:hover {
        border: 1px solid gray
    }
    .connectWallet {
        background-image: linear-gradient(to right, #6bb3a7 0%, #269e88 51%, #269e88 100%) !important;
    }
    .disconnectWallet {
        background-image: linear-gradient(to right, rgb(255, 123, 222) 0%, rgb(226, 59, 185) 51%, rgb(226, 59, 185) 100%) !important;
    }
    .focusedDiv {
        background-image: linear-gradient(to right, #6bb3a7 0%, #269e88 51%, #269e88 100%) !important;
    }

    .bgLightGret {
        background-color: #091113 !important;

    }

    .borderStandard{
        border: 1px solid #f3f3f311;
    }
}
@media (prefers-color-scheme: light) {
    .connectWallet {
        background-image: linear-gradient(to right, #6bb3a7 0%, #269e88 51%, #269e88 100%) !important;
    }

    .disconnectWallet {
        background-image: linear-gradient(to right, rgb(255, 123, 222) 0%, rgb(226, 59, 185) 51%, rgb(226, 59, 185) 100%) !important;
    }

    .focusedDiv {
        background-image: linear-gradient(to right, #6bb3a7 0%, #269e88 51%, #269e88 100%) !important;
    }
    .adminSide {
        background-color: #2a6153;
    }
    .sidebarOptions:hover {
        background-color: rgba(233, 232, 232, 0.281);
    }
    .sidebarOptions:focus {
        background-color: rgba(233, 232, 232, 0.281);
    }
    .accountsCard {
        background-color: white !important;
        transition: border 0.7s ease;
        border: 1px solid rgba(128, 128, 128, 0.521);
    }

    .borderStandard{
        border: 1px solid #413f3f7a;
    }

    .bgLightGret {
       
        /* #413f3f11  */
        background-color: rgba(156, 204, 194, 0.178) !important;
        /* border: 1px solid rgba(156, 196, 188, 0.123) ; */
       
    }
}